div{
    width: 10%;
    position: absolute;
    float: left;
    background-color: antiquewhite;
    height: 100%;
}

a{
    height: 30px;
    border: 1px solid #ccc;
    text-decoration: none;
    letter-spacing: 0.5px;
    width: 100%;
    display: block;
    color: blue;
}

.activeLink{
    color:red;
}