<div class="cart-container">
    <h2>Your Cart</h2>
    <div *ngIf="!cartProducts || cartProducts.length === 0">
      <p>Your Cart is Empty.</p>
    </div>
    <button (click)="clearCart()">Clear Cart</button>
    <!-- Display the cart items -->
    <div *ngFor="let p of cartProducts" class="cart-item">
      <div class="product-info">
        <h3>{{ p.name }}</h3>
        <p>Price: ${{ p.price }}</p>
      </div>
      <button (click)="removeCartItem(p._id)">Remove Item</button>
    </div>
    <button (click)="goToCheckout()">Go To Checkout</button>
  </div>